

        /* h2
        {
            color: darkred;
            font-size: 30px;
            text-align: center;

        }

        p
        {
            color: black;
            font-size: 20px;
            text-align: justify;
        } */

        /* (p) tüm p etiketleri

        (div p) div içersiindeki tüm p etiketleri

        (div , p) -> tüm div ve tüm p etiketleri
        
        (p + div) -> p etiketinden sonra gelen div etiketi */









 